.hobbies {
    list-style: none
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000e1e;
    background-size: 200% 200%;
    z-index: -1;
}